@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

body {
  background: black;
}

h1,
h2,
h4,
h5,
p,
a {
  color: white;
  text-decoration: none;
}


ul {
  list-style-type: none;
}


/* .section-p1{
    text-align: center;
    background-color: black;
} */

.product1 {
    text-align: center;
    background-color: black;
}

.product-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.products {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 10px 10px 20px grey;
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

.products:hover {
    box-shadow: 10px 20px 10px;
}

.p1 {
    width: 100%;
    border-radius: 20px;
}

.descript {
    text-align: start;
    padding: 10px 0;
}

.descript .h5 {
    padding-top: 7px;
    color: white;
    font-size: 14px;
}

.descript i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

.descript h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: darkcyan;
}

.cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    /* font-weight: 500; */
    color: #088178; 
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}